[submodule "toolchain/linux64"]
	path = toolchain/riscv/Linux
	url = git@10.28.10.249:bouffalo_sw/toolchain_riscv_sifive_linux64.git
[submodule "tools/flash_tool"]
	path = tools/flash_tool
	url = git@10.28.10.249:bouffalo_sw/bouffalo_development_environment.git
[submodule "toolchain/Darwin"]
	path = toolchain/riscv/Darwin
	url = git@10.28.10.249:bouffalo_sw/toolchain_riscv_sifive_macos.git
[submodule "toolchain/riscv/MSYS"]
	path = toolchain/riscv/MSYS
	url = git@10.28.10.249:bouffalo_sw/toolchain_riscv_sifive_msys.git
[submodule "tools/ide/openocd/linux64"]
	path = tools/ide/openocd/linux64
	url = git@10.28.10.249:bouffalo_sw/tools_openocd_linux64.git
